{% extends "nav_footer.html" %}
{% block header %}Read Data from PSQL{% endblock header%}
{% block content %}

<div class="out_form">
    <div class="form">
        <h1>Reading Data</h1>
        <select name="selection">
            {% for i in datalist %}
                <option value="{{i.tutorial_id}}">{{i.string}}</option>
            {% endfor %}
        </select>
        <div class="square">
            {% for i in datalist %}
                <h3>{{i.tutorial_id}}</h3>
                {{i.string}}<br>
                {{i.date}}<br>
                {{i.time}}<br>
                {{i.integer}}<br>
                {{i.numeric}}<br>
                {{i.selection}}<br>
                {{i.textarea}}<br>
                {{i.bool}} <br>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}